@font-face {
    font-family: 'HALCIT';
    src: url('fonts/HALCIT__.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HALCIT', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #ff7b00;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    font-size: 60px;
    
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: #ff7b00;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.toggle-btn {
    background-color: black;
    color: limegreen;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin: 10px;
}

@media (max-width: 600px) {
    header {
        font-size: 10px;
        padding: 10px;
        font-family: 'HALCIT', sans-serif;
    }
    .toggle-btn {
        width: 60px;
        height: 60px;
        font-size: 15px;
        margin: 5px;
    }
    main {
        padding: 3px;
    }
    img {
        max-width: 50%;
        height: auto;
    }
}