* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #ff7b00;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
    font-size: 60px;
    
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: #ff7b00;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}